@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$drak_blue:#0f172a;
$dark_gray:#181f2d;
$purple:#9a40eb;
$voliet:#9333ea;
$white:#ffffff;
$red:#953614;
$light-pink:#be185d;
$light-purple:#581c87;
$bright-purple:#bb7ff2;
$light:#f3e8ff;
$light-black:#94a3b8;